<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animation.css">

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
       <script type="text/javascript" src="{{ STATIC_URL }}js/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/scroller.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-animate.js"></script>
</head>
<body>
<div data-ng-app="jsSearch">
<div data-ng-controller="FilterTable">

<div class = "container">
    <label>Singer/Song</label>
    <input type = "text">
    <button type ="submit">Search</button>

    <label>Sort By</label>

    <select id="sel1">
    <option>By Singer</option>
    <option>By Song Name</option>
    <option>By ID</option>
    <option>By Type</option>
  </select>
</div>
<div class ="container">
<div infinite-scroll="init()" infinite-scroll-distance="2">
<table class="table table-striped table-animate">
<thead>
<th>ID</th>
<th>Song</th>
<th>Singer</th>
<th>Type</th>
</thead>
<tbody>
{% for item in songs %}
    <tr ng-show='base_table'>

<td>{{ item.id}}</td>
    <td>{{ item.name}}</td>
     <td>{{ item.singer}}</td>
    {% if type %}
        <td>{{ item.type}}</td>
        {% else %}
        <td>-</td>
    {% endif %}
    </tr>
{% endfor %}

{% verbatim %}

    <tr ng-repeat = 'test in result'>
        <td>{{ test.id }}</td>
        <td>{{ test.name }}</td>
        <td>{{ test.singer }}</td>
        <td>-</td>
  {% endverbatim %}

</tr>
</tbody>
</table>
</div>
</div>



</div>
    </div>

</div>
</div>
</div>
</body>
</html>